:host * {
  transition: all 0.5s ease-in-out;
}

.sidenav-header {
  padding-top: 24px;
  text-align: center;
  > img {
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }
}

.header-text {
  height: 3rem;

  > h2 {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  > p {
    margin: 0;
    font-size: 0.8rem;
  }
}

.hide-header-text {
  opacity: 0;
  height: 0 !important;
}

.menu-item {
  border-left: 5px solid;
  border-color: rgba(0, 0, 0, 0);
}
.selected-menu-item {
  border-color: var(--primary-color);
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
